<div class="container my-5">

  <h1>GitHub User Timeline</h1>
  <p>View the most recent timeline of any Github user.</p>

  <form action='/events/get_timeline' method='post' data-remote="true" id="gh-form" class="form-inline mb-4">
    <div class="form-group form-group-lg">
      <label for="username" class="mr-sm-3">GitHub Username</label>
      <input type="text" class="form-control mr-sm-3" id="username" name='username' placeholder="GitHub username">
    </div>
    <button type='submit' class='btn btn-primary'>View Activity</button>
  </form>
  <div id="wait">
    <div class="wait-inner">
      <%= image_tag 'Spinner-1s-200px.gif' %>
      <p>Processing...</p>
    </div>
  </div>
  <div id="results">
    <div id="author-info"></div>
    <div id="activities" class="list-group list-group-flush pt-4 mb-4"></div>
  </div>
</div>

<script>
  $(document).on('turbolinks:load', function () {
     $('form#gh-form')
     .on('ajax:beforeSend', showSpinner)
     .on('ajax:complete', hideSpinner);

     function showSpinner() {
       $('#wait').show();
     }

     function hideSpinner() {
       $('#wait').hide();
     }
  });
</script>
